body{
 margin: 0;
 padding: 0;
 background-color: #aacedd;
}
header{
 max-width: 1200px;
 margin: 20px auto;
 border-radius: 5px;
 background-image: linear-gradient(#2238cdcc, #111010cc), url("../images/lake-1581879_640.jpg");
 background-size: cover;
}
.banner{
 display: flex;
 flex-direction: column;
 padding-top: 80px;
 margin-left: 30px;
}
#codedamn-logo{
margin-top: 40px;
margin-left: 30px;
color: #e0e0e0;
background-color: #2e132e;
height: 20px;
padding: 5px;
border-radius: 50%;
font-weight: bold;
}
.topnav{
 display: flex;
 justify-content: space-between;
}
.topnav img{
  margin-top: 10px;
}
.profile-nav{
 display: flex;
 justify-content: space-between;
 margin-right: 10px;
}
nav ul li{
 margin-top: 10px;
 margin-right: 10px;
}

.profile-nav{
 list-style: none;
}
ul li img{
 height: 40px;
 width: 40px;
 border-radius: 50%;
}
.profile-nav-itemA{
 padding-top: 15px;
 padding-right: 5px;
 padding-left: 5px;
 position: relative;
}
.profile-nav-itemB{
 padding-top: 20px;
 padding-right: 5px;
 color: #e0e0e0;
}
.profile-nav-itemC{
 color: #e0e0e0;
}
.profile-nav-itemA input{
 background-color: transparent;
 border: 1px solid #e0e0e050;
}
.profile-nav-itemA i{
 position: absolute;
 right: 0;
 font-size: 15px;
 margin-top: 2px;
 color: #e0e0e0;
}

.page-name h2{
 color: #e0e0e0;
}
.profile-name1{
 font-size: 27px;
}
.profile-name1 span{
 font-size: 17px;
 font-weight: normal;
}
.page-name{
 display: flex;
}
.page-name img{
 height: 40px;
 width: 40px;
 border-radius: 50%;
 margin-top: 20px;
}
.location-icon-container{
 padding-bottom: 20px;
 margin-left: 40px;
}
 .location-icon h3{
 display: flex;
 color: #e0e0e0;
}

.location-icon  i{
 color: #e0e0e0;
}
.social-icons i{
 color: #e0e0e0;
 margin-right: 5px;
 margin-left: 5px;
}
.location-name{
 font-weight: normal;
}
.fas{
 margin-right: 10px;
}
.straight-line{
 width: 60%;
 height: 0.5px;
 background-color: #74716f;
 margin-top: 20px;
}
.upload-stats{
 display: flex;
 margin-top: 50px;
 margin-left: 50px;
 padding-bottom: 20px;
 padding-left: 30px;
 padding-right: 50px;
}
.upload-stats > div{
 color: white;
  margin-right: 30px;
 margin-left: 30px;
}
.upload-stats-num{
 font-size: 27px;
}
@media (max-width: 800px){
 .banner{
  min-width: 50%;
 }
 .upload-stats > div{
  margin-right: 15px;
 }
}

.grid-photo-container{
 max-width: 1200px;
 margin: 0 auto;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: 1fr 1fr 1fr;
 grid-gap: 5px;
}
@media (max-width: 800px){
 .grid-photo-container{
  grid-template-columns: 1fr;
 
 }
}
.grid-items{
 border-radius: 10px;
 overflow: hidden;
 box-sizing: border-box;
 height: 400px;
}

